/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
  height: calc(100vh - 80px); /* Adjust for the header height plus some extra margin */
  position: fixed; /* Fix position to the right */
  right: 0;
  top: 95px; /* Adjusted to be below the header */
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #35bcbf;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #2a9d8f;
}

.content {
  margin-right: 220px; /* Make room for the sidebar */
  padding: 20px;
  margin-top: 80px; /* Align with the bottom of the header */
}
