* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #bbe4e9;
  color: #142d4c;
  margin-top: 80px; /* Adjust for header height */
}

.content {
  margin-left: 220px; /* Adjust for sidebar width */
  padding: 20px; /* Adjust for spacing around the content */
  padding-top: 20px; /* Additional padding to prevent overlap with header */
}

.subreddits {
  color: #142d4c;
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  padding-top: 20px; /* Additional padding if needed */
}

.h1 {
  color: #38598b;
}

@media screen and (min-width: 768px) {
  .subreddits {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .subreddits {
    grid-template-columns: 1fr;
  }
}
